/* Defaults */
:root {
  --font-family: var(--type-sans-serif), sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
  --color-white: #FFFFFF;
  --color-pink-20: #FAEAEA;
  --color-pink-50: #FFCBCD;
  --color-forest-20: #004445;
  --color-forest-50: #003031;
  --color-forest-90: #171717;
  --color-red-20: #D51034;
  --color-red-50: #B3122F;
  --color-red-90: #790B1F;
  --color-blue-20: #1D61CD;
  --color-blue-50: #194996;
  --color-blue-90: #0A2755;
  --color-cyan-90: #6DD4E3;
  --color-cyan-50: #98EAF5;
  --color-cyan-20: #C6F8FF;
  --color-yellow-90: #FCD139;
  --color-yellow-50: #FFE178;
  --color-yellow-20: #FFEFB7;
  
  /* Theme scale */
  --size-extra-large-2: 5em; /* 80px 500% */
  --size-extra-large-1: 4.5em; /* 72px 450% */

  --size-large-3: 4em; /* 64px 400% */
  --size-large-2: 3.75em; /* 60px 375% */
  --size-large-1: 3em; /* 48px 300% */

  --size-medium-3: 2.75em; /* 44px 275% */
  --size-medium-2: 2.5em; /* 40px 250% */
  --size-medium-1: 2.25em; /* 36px 225% */

  --size-small-3: 1.5em; /* 24px 150% */
  --size-small-2: 1.25em; /* 20px 125% */
  --size-small-1: 1.125em; /* 18px 112.5% */

  --size-extra-small-3: 1em; /* 16px 100% */
  --size-extra-small-2: .0.875em; /* 14px 87.5% */
  --size-extra-small-1: .75em; /* 12px 75% */
  

 /* Theme type */
    --type-serif: Recoleta;
    --type-sans-serif: SofiaProRegular;
    --type-sans-serif-italic: SofiaProRegularItalic;

  /* Theme colors */
  --background-color: var(--color-pink-20);

  --deco-heading-color: var(--color-red-20);
  --heading-color: var(--color-forest-20);
  --text-color-20: var(--color-forest-20);
  --text-color-50: var(--color-forest-90);

  --text-color-link-rest: var(--color-blue-20);
  --text-color-link-hover-focus: var(--color-blue-50);
  --text-color-link-active: var(--color-blue-90);
  --text-color-link-visited: var(--color-blue-20);

  --button-text-color: var(--color-white);
  --primary-button-rest: var(--color-red-20);
  --primary-button-hover-focus: var(--color-red-50);
  --primary-button-active: var(--color-red-90);

  --secondary-button-rest: var(--color-blue-20);
  --secondary-button-hover-focus: var(--color-blue-50);
  --secondary-button-active: var(--color-blue-90);

  --focus-primary: var(--color-blue-20);
  --focus-secondary: var(--color-red-20);
  --border: var(--color-pink-50);

}

/* Dark Mode Theme*/
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-forest-20);

    --deco-heading-color: var(--color-pink-50);
    --heading-color: var(--color-pink-50);
    --text-color-20: var(--color-pink-20);
    --text-color-50: var(--color-pink-50);

    --text-color-link-rest: var(--color-cyan-90);
    --text-color-link-hover-focus: var(--color-cyan-50);
    --text-color-link-active: var(--color-cyan-20);
    --text-color-link-visited: var(--color-cyan-90);

    --button-text-color: var(--color-forest-90);
    --primary-button-rest: var(--color-cyan-90);
    --primary-button-hover-focus: var(--color-cyan-50);
    --primary-button-active: var(--color-cyan-20);

    --secondary-button-rest: var(--color-yellow-90);
    --secondary-button-hover-focus: var(--color-yellow-50);
    --secondary-button-active: var(--color-yellow-20);

    --focus-primary: var(--color-yellow-90);
    --focus-secondary: var(--color-cyan-90);
    --border: var(--color-cyan-90);

  }
}

 /* Less than 600px */
 @media all and (max-width: 600px) {
  
 }

/* Typefaces */
@font-face {
  font-family: "Recoleta";
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Recoleta-Regular.otf') format('otf');
}

@font-face {
  font-family: "SofiaProRegular";
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/SofiaPro-Regular.otf') format('otf');
}

@font-face {
  font-family: "SofiaProRegularItalic";
  font-display: fallback;
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/SofiaPro-Regularitalic.otf') format('otf');
}


  @font-face {
    font-family: "SofiaProSemiBold";
    font-display: fallback;
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/SofiaPro-SemiBold.otf') format('otf');
}


@font-face {
  font-family: "SofiaProSemiBoldItalic";
  font-display: fallback;
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/SofiaPro-SemiBolditalic.otf') format('otf');
}


/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color-20);
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5 {
  color: var(--heading-color);
}

h1 {
  font-family: var(--type-serif);
  font-weight: 400;
  font-size: var(--size-extra-large-1);
  line-height: var (  --size-small-2);
}

h2 {
  font-weight: 400;
  font-size: var(--size-medium-2);
  line-height: var (--size-small-2);
}

h3 {
  font-weight: 600;
  font-size: var(--size-small-2);
  line-height: var (--size-small-2);
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h4 {
  font-size: var(--size-small-2);
  line-height: var (--size-small-2);
}

h5 {
  font-size: var(--size-extra-small-3);
  line-height: var (--size-small-2);
}

p {
  font-size: var(--size-small-1);
  line-height: 166%
}

button {
  font-size: var (--size-extra-small-3);
  line-height: var (  --size-small-2);
  color: var(--button-text-color);
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 1.75em;
  padding: 1em 1.25em 0.85em;
  border: none;
}

a[href] {
  color: var(--text-color-link-rest);
}

a[href]:focus {
  color: var(--text-color-link-hover-focus);
  outline-color: var(--focus-primary);
  outline: .125em dashed;
  outline-offset: .063em;
}

a[href]:hover {
  color: var(--text-color-link-hover-focus);
}

a[href]:active {
  color: var(--text-color-link-active);
}

main {
  padding: 1em;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--color-forest-20);
}
header:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
  line-height: var(--size-small-3);
}
pre {
  font-size: var(--size-extra-small-2);
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

b {
  font-weight: 600;
}

i {
  font-family: var (--type-sans-serif-italic);
}

code {
  word-break: break-all;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: var (--size-small-3);
}

/* strikethrough screenreader accessibility */
s::before,
s::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

s::before {
  content: " [start of stricken text] ";
}

s::after {
  content: " [end of stricken text] ";
}

/* Header */
.home {
  font-size: var(--size-small-1);
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href] {
  text-decoration: none;
  font-size: var(--size-small-1);
  line-height: var(--size-small-3);
  color: var(--text-color-20);
}

.nav-item a[href]:focus {
  text-decoration: underline;
  color: var(--secondary-button-rest);
  outline-color: var(--focus-primary);

}

.nav-item a[href]:hover {
  text-decoration: underline;
  color: var(--secondary-button-rest);
}

.nav-item-active {
  text-decoration: underline;
  color: var(--text-color-50);
}
/* Footer */

footer {
  display: flex;
  flex-flow: column wrap;
  border-top: solid;
  border-width: .12rem;
  border-color: var(--border);
  padding: 1rem 0 1rem 0;
} 

footer ul {
list-style: none;
text-align: center;
}

footer ul li {
display: inline-block;
justify-content: center;
}

footer li {
display: inline;
}

footer > ul > li > a {
display: block;
line-height: 2em;
padding: .5em 2.25em;
text-decoration: none;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
  padding: 2.25rem 0 2.25rem 0;
  border-top: solid;
  border-bottom: solid;
  border-width: .12rem;
  border-color: var(--border);
  margin-top: -.06rem;
}

.postlist-date {
  font-size: var(--size-extra-small-3);
  line-height: 166%;
  color: var(--text-color-20);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.5em;
}

/* Tags */
.post-tag {
  font-weight: 600;
  font-size: 0.75em; /* 12px /16 */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: .5em .75em .25em .75em;
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--text-color-20);
  border: 2px solid var(--primary-button-rest);
  border-radius: 2em;
  text-decoration: none;
  line-height: 1.8;
  letter-spacing: .1em;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: var(--text-color-20);
}
a[href].post-tag:hover {
  border: 2px solid var(--primary-button-active);
  background-color: var(--primary-button-active);
  color: var(--button-text-color);
}

a[href].post-tag:focus {
  border: 2px solid var(--primary-button-active);
  background-color: var(--primary-button-active);
  color: var(--button-text-color);
}

a[href].post-tag:active {
  border: 2px solid var(--text-color-20);
  background-color: var(--text-color-20);
  color: var(--button-text-color);
}

.postlist-item > .post-tag {
  align-self: center;
}

/* Infobox */
:root {
  --color-infobox: #ffc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-infobox: #082840;
  }
}

.infobox {
  background-color: var(--color-infobox);
  color: var(--color-pink-50);
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.infobox ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}


/* Buttons*/
.button-primary {
  background-color: var(--primary-button-rest);
}

.button-primary :hover {
  background-color: var(--primary-button-hover-focus);
}

.button-primary :focus {
  background-color: var(--primary-button-hover-focus);
  outline-color: var(--focus-primary);
  outline: .125em dashed;
  outline-offset: .063em;
}

.button-primary :active {
  background-color: var(--primary-button-active);
}

.button-secondary {
  background-color: var(--secondary-button-rest);
}

.button-secondary :hover {
  background-color: var(--secondary-button-hover-focus);
}

.button-secondary :focus {
  background-color: var(--secondary-button-hover-focus);
  outline-color: var(--focus-primary);
  outline: .125em dashed;
  outline-offset: .063em;
}

.button-secondary :active {
  background-color: var(--secondary-button-active);
}

/* Links that look like buttons */
.button-link-primary {
  color: var(--button-text-color);
  background-color: var(--primary-button-rest);
  font-size: var(--size-extra-small-3);
  line-height: var (--size-small-2);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 1.75em;
  padding: 1em 1.25em 0.85em;
  border: none;
}

.button-link-primary :hover {
  background-color: var(--primary-button-hover-focus);
}

.button-link-primary :focus {
  background-color: var(--primary-button-hover-focus);
  outline-color: var(--focus-primary);
  outline: .125em dashed;
  outline-offset: .063em;
}

.button-link-primary :active {
  background-color: var(--primary-button-active);
}

.button-link-secondary {
  color: var(--button-text-color);
  background-color: var(--secondary-button-rest);
  font-size: var(--size-extra-small-3);
  line-height: var (--size-small-2);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 1.75em;
  padding: 1em 1.25em 0.85em;
  border: none;
}

.button-link-secondary :hover {
  background-color: var(--secondary-button-hover-focus);
}

.button-link-secondary :focus {
  background-color: var(--secondary-button-hover-focus);
  outline-color: var(--focus-primary);
  outline: .125em dashed;
  outline-offset: .063em;
}

.button-link-secondary :active {
  background-color: var(--secondary-button-active);
}

/* Sentence case H3 */
.h3-sentence-case {
  font-weight: 600;
  font-size: var(--size-small-2);
  line-height: var (--size-small-2);
  text-transform: none;
  letter-spacing: 0em;
}

/* Large paragraph */
.p-large {
  font-size: var(--size-small-3);
  line-height: 166%;
}

/* Fieldset */
fieldset {
  border: 0;
}