<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {#- <meta name="generator" content="{{ eleventy.generator }}"> #}

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>      
      <!-- < <a href="{{ '/' | url }}" class="home"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="test" style="width:42px;height:42px;"></a> -->

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
                <li><a href="{{ '/' | url }}">{{ metadata.title }}</a></li> 
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}

      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      {{ content | safe }}
    </main>

    <footer>
       <div>
            <fieldset>
              <legend>Theme</legend>

              <input type="radio" id="system" name="theme" />
              <label for="system">System</label>

              <input type="radio" id="light" name="theme" />
              <label for="light">Light</label>

              <input type="radio" id="dark" name="theme" />
              <label for="dark">Dark</label>

            </fieldset>
          </div>
          <p>Get regular tips, tools, and updates about accessibility and inclusive design by <a href="https://buttondown.email/annaecook">signing up for my newsletter</a>.</p>
          <p>© 2014 – 2022 Anna E. Cook. All rights reserved.</p>
          <p><a href="#">Accessibility Statement</a></p>
          <ul>
          <li><a href="https://mstdn.social/@annaecook">Mastodon</a></li>
          <li><a href="https://linkedin.com/in/annaecook/">LinkedIn</a></li>
          </ul>

    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
