---
layout: layouts/home.njk
permalink: /about/
title: About | Anna E. Cook
templateClass: tmpl-post
eleventyNavigation:
  key: About
  order: 2
---
<h1>About</h1>
<h2>Hi, I’m Anna.</h2>
<h3>Senior Inclusive Designer at Microsoft</h3>
<p>I am a Senior Inclusive Designer that specializes in building inclusive products. With over ten years of experience, I am dedicated to creating scalable systems to support accessible and inclusive practices across digital product teams. Currently, I am a Senior Designer at Microsoft focusing on accessibility and inclusion for Azure and an M.S. student in Creative Technology & Design at the ATLAS Institute of CU-Boulder.</p>
<button class="button-primary">Resume</button>

<h2>Working with me</h2>
<p>“Anna is like a 65-year-old CEO stuck in a young person’s body.”</p>

<p>“Anna was great to work with! She was communicative, thorough, flexible, and extremely knowledgeable about website accessibility. A+++”</p>
<p><b>Director of Development</b></p>

<p>“Anna has shown amazing leadership, creativity, communication skills and a dedication to her work that has made her an exceedingly high performer and someone the team leans on frequently for complex and critical assignments.”</p>
<p><b>UX Lead</b></p>

<p>“Anna is one of the most driven, creative, and organized people I have ever worked with. She has exemplified these qualities time and time again. Anna has the unique ability to propose creative solutions and obtain stakeholder buy-in and trust.”</p>
<p><b>Product Owner</b></p>

<h3>How I work</h3>

<h4>Growth-driven</h4>
<p>I am a continuous learner, achieving my goals, and setting new ones diligently. I share what I learn in teaching and mentor roles.</p>

<h4>Strategic organizer</h4>
<p>I lead strategic changes in organizations and enjoy designing systems that are easy for teams to follow and work within.</p>

<h4>Forward-thinking</h4>
<p>I am inspired by what is possible, especially in technology, and use that thinking to energize others to build better products.</p>

<h4>Observant leader</h4>
<p>I figure out how different people can work together productively and offer tasks that empower their work while benefiting the team.</p>


