---
layout: layouts/home.njk
permalink: /contact/
title: Contact | Anna E. Cook
templateClass: tmpl-post
eleventyNavigation:
  key: Contact
  order: 6
---

<h1>Contact</h1>
<p>
<b>I am currently available for: <s>speaking</s>, training, writing, consulting, and <s>mentorship</s>.</b>

I am an accessibility and inclusivity focused designer. I help others learn the skills necessary integrate accessibility into their design practice and to scale, as well as advanced design skills.

Though I try to be available for projects as much as possible, I am currently work full-time, a graduate school student, and working with a publisher on writing a book on inclusive and accessible design.

As such, I tend to only have time for smaller scale paid projects until existing engagements and education is completed. Please know I will do my best to respond to requests in a timely manner!</p>

<button class="button-primary">Email me</button>