---
layout: layouts/home.njk
permalink: /writing/
title: Writing
templateClass: tmpl-post
eleventyNavigation:
  key: Writing
  order: 5
---

<h1>Writing</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
